################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DGP_Snap/v15/Server/sqlite3/db.lock
/.vs/DGP_Snap/v15/Server/sqlite3/storage.ide
/.vs/DGP_Snap/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
/.vs/DGP_Snap/v16
